{% extends 'layout.html' %}
{% block content %}
  <div class="col-md-12">
    <h2 align="center">Welcome to Home page of the Application !</h2>
    <br>
    <h6 align="center">This application is designed to self check whether a person is diagonised with major disease.</h6>
    <br>
    <div class="container">
      <div class="col-md-12" >
        <h5 style="text-align: left">Heart</h5> 
        <br>
          <div class="col-md-12" align="left">
            <h6>
              <h7>
                Heart disease describes a range of conditions that affect your heart. Many forms of heart disease can be prevented or treated with healthy lifestyle choices
              </h7>
              <br>
              <br>
              <li>This page gives you an overview about the healthy state of the heart. </li> 
              <br>
              <li> Enter the required details and know whether your heart is healthy or needs doctor attention.</li>
            </h6>
        <br>
        <br>
  
        </div>
        <h5 style="text-align: left">Diabetes</h5> 
        <br>
          <div class="col-md-12" align="left">
            <h6>
              <h7>
                Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy. It can't be cured but losing weight, eating healthy food, and being active can really help in maintaining them. 
              </h7>
              <br>
              <br>
              <li>This page gives you an overview whether you're diagonised with diabetic. </li> 
              <br>
              <li> Enter the required details and know whether your are prone to diabetic or not.</li>
            </h6>
        <br>


    </div>
 
    

    </div>
    
  </div>
  
{% endblock content %}